html {
//  height: 100%;
  display: flex;
  font-size: $html-size-base;
}
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;

  font-family: "OpenSans", sans-serif;

  -webkit-backface-visibility: hidden;

}

.page-wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding-top: $header-main-height + $header-toggle-height;
  box-sizing: border-box;

  transition: 1s;
  transform: translate3d(0, 0, 0);

  -webkit-backface-visibility: hidden;
  @include container;
}

.page-wrapper--closed {
  padding-top: $header-toggle-height;
  transform: translate3d(0, 0, 0);
}





