.page-header__logo {
  background-color: beige;
  outline: 1px solid red;
}

.page-header__main {
  outline: 1px dashed green;
}

.main-nav__item {

}

.page-header__nav {
  outline: 1px dashed green;
}


.page-main__column-text {
  outline: 1px solid red;
}
