.main-nav {
  margin: auto;

  font-size: 16px;
}

.main-nav__inner {
  display: flex;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-nav__item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  padding: 5px;

  text-align: center;

  border-right: 1px solid #ffffff;
  background-color: #3c3a3a;

  flex-grow: 1;
  flex-basis: 10%;
  min-width: 0;
  &:last-child {
    border-right: none;
  }
  &:hover {
    background-color: #000000;
    & .main-nav__subitem {
      height: 40px;
      margin-top: 0;

      transition: margin-top 0.5s, heigth 0.5s;
    }
  }
}

.main-nav__item a {
  display: block;

  text-decoration: none;

  color: #ffffff;

  word-wrap: break-word;
  min-width: 0;
}

.main-nav__item > a {
  position: relative;

  display: block;
}

.main-nav__item ul {
  position: absolute;
  top: 100%;
  left: 0;

  overflow: hidden;

  min-width: 100%;
  padding: 0;

  list-style-type: none;

  white-space: nowrap;
}

.main-nav__subitem {
  overflow: hidden;

  height: 0;
  margin-top: -40px;
  padding-right: 21px;
  padding-left: 21px;

  line-height: 40px;

  text-align: left;

  border-bottom: 1px solid #ffffff;
  background-color: rgba(0,0,0,0.8);
  &:last-child {
    border-bottom: none;
  }
}
