.main-nav {
  margin: auto;

  font-size: 16px;
}

.main-nav__inner {
  display: flex;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-nav__item {
  position: relative;

  padding: 0;

  text-align: center;

  border-right: 1px solid #ffffff;
  background-color: #3c3a3a;

  flex-grow: 1;
  flex-basis: 15%;
  &:last-child {
    border-right: none;
  }
  &:hover {
    background-color: #000000;
    & .main-nav__subitem {
      height: 40px;
      margin-top: 0;

      transition: margin-top 0.5s, heigth 0.5s;
    }
    ul {
      animation: bounce 1.5s 0.2s;
    }
  }
}

@keyframes bounce {

33% {
  transform: scaleY(1.05) translateY(2.25%);
}
66% {
  transform: scaleY(0.95) translateY(-2.8%);
}
100% {
  transform: scaleY(1);
}
}

.main-nav__item a {
  display: block;

  text-decoration: none;

  color: #ffffff;
}

.main-nav__item > a {
  position: relative;

  height: 80px;
  padding: 2%;

  line-height: 80px;

  & > span {
    display: inline-block;

    line-height: normal;

    vertical-align: middle;
  }
}

.main-nav__item ul {
  position: absolute;
  top: 100%;
  left: 0;

  overflow: hidden;

  min-width: 100%;
  padding: 0;

  list-style-type: none;

  white-space: nowrap;
}

.main-nav__subitem {
  overflow: hidden;

  height: 0;
  margin-top: -40px;
  padding-right: 21px;
  padding-left: 21px;

  line-height: 40px;

  text-align: left;

  border-bottom: 1px solid #ffffff;
  background-color: rgba(0,0,0,0.8);
  &:last-child {
    border-bottom: none;
  }
}
