.page-main {
  z-index: 1;

  font-size: 16px;

  transform: translate3d(0,0,0);

  transform-style: preserve-3d;
}

.page-main__inner {
  display: flex;

  @include container;
}

.page-main__text {
  box-sizing: border-box;
  width: 25%;
  min-width: 0;
  padding-top: 30px;
  padding-right: 12px;
  padding-bottom: 20px;
  padding-left: 15px;

  word-wrap: break-word;

  background-color: rgba(127, 127, 127, 0.5);

  flex-shrink: 0;
}

.page-main__catalog {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 75%;
  margin-top: 34px;
  margin-left: 10px;
  padding-bottom: 20px;

  word-wrap: break-word;
  min-width: 0;

  align-items: flex-start;
}

.text-bottom {
  width: 100%;
  margin-top: auto;
}

.moving-images {
  display: flex;
}
