.page-main {
  padding-top: 204px;
  transition-duration: 1s;
  z-index: 1;
  font-size: 16px;
}

.page-main__inner {
  display: flex;
  @include container;
}

.page-main--closed-header {
  padding-top: 20px;
}

.page-main__text {
  width: 25%;
  flex-shrink: 0;
  background-color: #7f7f7f;
  padding-bottom: 20px;
}

.page-main__catalog {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 34px;
  margin-left: 10px;
}

.text-bottom {
  margin-top: auto;
}
