.page-main {
  z-index: 1;

  padding-top: 204px;

  font-size: 16px;

  transition-duration: 1s;
}

.page-main__inner {
  display: flex;

  @include container;
}

.page-main--closed-header {
  padding-top: 20px;
}

.page-main__text {
  width: 25%;
  padding-bottom: 20px;

  background-color: #7f7f7f;

  flex-shrink: 0;
}

.page-main__catalog {
  display: flex;
  flex-direction: column;

  margin-top: 34px;
  margin-left: 10px;
  padding-bottom: 20px;

  align-items: flex-start;
}

.text-bottom {
  margin-top: auto;
}

.moving-images {
  display: flex;
}
