.page-footer {
  margin-top: auto;
  padding-top: 19px;
  padding-bottom: 14px;

  font-family: "PTSans", sans-serif;

  background-color: rgba(127, 127, 127, 0.5);

  flex-grow: 0;
  flex-shrink: 0;
}

.page-footer__inner {
  display: flex;

  height: 100%;
  margin: auto;

  align-items: center;
  @include container;
}

.page-footer__copyrights {
  display: flex;

  width: 25%;
  min-height: 50px;

  align-items: center;
  flex-shrink: 0;
  p {
    margin-left: 22px;
  }
}

.page-footer__nav {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.nav-secondary {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
  a {
    text-decoration: underline;

    color: #000000;
  }
  li {
    position: relative;

    padding-right: 18px;
    padding-left: 12px;
    &:hover a {
      color: #ffffff;
    }
  }
}

.nav-secondary li:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: 0;

  width: 4px;
  height: 4px;

  content: "";
  transform: translateY(-50%);

  background-color: #000000;
}

.page-footer__created {
  display: flex;

  width: 25%;
  min-height: 50px;

  align-items: center;
  flex-shrink: 0;
}

.page-footer__logo {
  width: 75px;
  height: 75px;

  border: 3px solid #a5a5a5;
  border-radius: 50%;
  background-image: url("../img/logo-main.png");
  background-size: 100% 100%;
}
