.page-header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  transition: transform 1s;
//  transform: translate3d(0,0,0);

  background-color: #ffffff;

//  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 184px;

    content: "";

    background-color: rgba(127, 127, 127, 0.5);
  }
}

.page-header--closed {
  transform: translate3d(0, -184px, 0);
}

.page-header__main {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  min-height: 184px;

  @include container;
}

.page-header__logo {
  display: flex;
  align-items: center;
  width: 25%;

  flex-shrink: 0;
}

.logo-main {
  outline: none;
  display: block;
  width: 128px;
  height: 125px;

  border-radius: 50%;
  background-image: url("../img/logo-main.png");
  background-size: 100%;
}

.page-header__nav {
  flex-grow: 1;
}

.page-header__toggle {
  position: relative;
  z-index: -10;

  display: block;

  min-height: 20px;

  background-color: #000000;
  &:after {
    position: absolute;
    top: 5px;
    left: 50%;

    width: 20px;
    height: 2px;

    content: "";
    transform: translateX(-50%);

    background-color: #ffffff;
    box-shadow: 0 4px 0 0 #ffffff,
    0 8px 0 0 #ffffff;
  }
}
