.sliding-img-container {
  position: relative;

  overflow: hidden;

  width: 350px;
  height: 228px;

  border: 2px solid #000000;
  background-color: transparent;
  & img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    margin-top: 0;
    margin-left: 0;

    transition: 2s;
  }
}
